body{
    background-color: brown;
    font-size: 18px;
}
header{
    color: white;
    text-align: center;
    font: Arial;
}
footer{
    color: white;
    font: Arial;
    text-align: center;
}
section{
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    height: auto;
    background-color: white;
    text-align: left;
    font: Arial;
    font-size: 18px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 5px 5px 10px black;
    line-height: 40px;
}
.res{
    text-align: center;
}